* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff8c08 0%, #ffcbbc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff8c08 0%, #ffcbbc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar-menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-btn {
    padding-bottom: 2rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Home Page */

.homepage {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 100px 0;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.homepage-heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.homepage-heading span {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.homepage-description {
  font-size: 60px;
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.homepage-description1 {
  margin: 2rem auto;
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

.homepage-btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.homepage-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.homepage-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff1ead;
  color: #fff;
  transition: all 0.35s;
  border-radius: 4px;
}

.homepage-btn:hover {
  color: #fff;
}

.homepage-btn:hover:after {
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .homepage-heading {
    font-size: 60px;
  }

  .homepage-description {
    font-size: 40px;
  }
}

/* About Me */

.aboutpage {
  background-color: #131313;
  padding: 10rem 0;
}

.aboutpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  padding: 0 50px;
}

.aboutpage-content {
  color: rgb(221, 219, 219);
  width: 100%;
}

.aboutpage-content h1 {
  font-size: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.aboutpage-content h2 {
  font-size: 4rem;
  background: #ff8177;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.aboutpage-content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  max-width: 500px;
}

.about-btn-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.aboutpage-btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.aboutpage-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.aboutpage-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff1ead;
  color: #fff;
  transition: all 0.35s;
  border-radius: 4px;
}

.aboutpage-btn:hover {
  color: #fff;
}

.aboutpage-btn:hover:after {
  color: #fff;
  width: 100%;
}

.aboutpage-img-container {
  text-align: center;
}

.aboutpage-img-card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.aboutpage-me-img {
  max-width: 500px;
  border-radius: 50px;
}

.resume-btn {
  all: unset;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #12d8fa 0%, #1fa2ff 25%, #8f0eff 100%);
  text-align: center;
  width: 200px;
  height: 70px;
  color: #fff;
  outline: none;
  position: relative;
  cursor: pointer;
}

.resume-btn span {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.resume-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #164e77;
  color: #fff;
  transition: all 0.35s;
  border-radius: 4px;
}

.resume-btn:hover:after {
  color: #fff;
  width: 100%;
}

.resume-link {
  font-size: 1.2rem;
  text-decoration: none;
  width: 200px;
  height: 70px;
}

@media screen and (max-width: 1100px) {
  .aboutpage-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .aboutpage-img-container {
    display: flex;
    justify-content: center;
  }

  .aboutpage-me-img {
    max-width: 425px;
  }

  .aboutpage-content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .aboutpage-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .aboutpage-content h2 {
    font-size: 3rem;
  }

  .aboutpage-content p {
    font-size: 1.5rem;
    max-width: fit-content;
  }

  .about-btn-div {
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 410px) {
  .aboutpage-me-img {
    max-width: 250px;
  }

  .aboutpage-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .aboutpage-content h2 {
    font-size: 2rem;
  }

  .aboutpage-content p {
    margin-top: 2rem;
  }

  .about-btn-div {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .aboutpage-btn {
    margin: 2.5rem 0;
  }
}

/* Projects Page */

.projectpage {
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.projectpage h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ee9173 0%, #ff0844 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.projectpage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.projectpage-card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #e8e2e9,
    #debbe4,
    #d294df,
    #c56bd8,
    #b639d1
  );
  transition: 0.3s ease-in;
}

.projectpage-card:nth-child(2) {
  background: #1fa2ff;
  background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}

.projectpage-card:nth-child(3) {
  background: #1fa2ff;
  background-image: radial-gradient(
    circle,
    #bbb0a2,
    #c7a57e,
    #d3995c,
    #df8b3a,
    #eb7912
  );
}

.projectpage-card:nth-child(4) {
  background: #1fa2ff;
  background-image: linear-gradient(
    -225deg,
    #73ec2c 0%,
    #3585c7 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.projectpage-card h2 {
  text-align: center;
}

.projectpage-card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.projectpage-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.projectpage-card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.projectpage-card button:hover {
  cursor: pointer;
  transform: scale(1.075);
}

.projectpage-card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .projectpage-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .projectpage-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Contact */

.contactpage {
  background-color: #000000;
  padding: 10rem 0;
}

.contactpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  padding: 0 50px;
}

.contactpage-content {
  color: #fff;
  width: 100%;
  text-align: end;
  padding-right: 20px;
}

.contactpage-content h1 {
  font-size: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.contactpage-content h2 {
  font-size: 4rem;
  background: #ff8177;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.contactpage-content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.contactpage-img-container {
  text-align: center;
}

.contactpage-img-card {
  margin: 10px;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: all 0.5s ease;
}

#phone {
  display: none;
}

.contactpage-img-card:hover {
  background-image: linear-gradient(to right, #00dbde 0%, #183b86 100%);
  transition: all 0.5s ease;
}

.contactpage-img-card:hover #phone {
  display: block;
}

.contactpage-img-card:hover .fa {
  display: none;
}

@media screen and (max-width: 1100px) {
  .contactpage-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .contactpage-img-container {
    display: flex;
    justify-content: center;
  }

  .contactpage-content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .contactpage-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .contactpage-content h2 {
    font-size: 3rem;
  }

  .contactpage-content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .contactpage-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .contactpage-content h2 {
    font-size: 2rem;
  }

  .contactpage-content p {
    margin-top: 2rem;
  }

  .contactpage-btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Footer */

.footer-container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website-rights {
  color: #fff;
}

.footer-link-items a {
  text-decoration: underline;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  #footer-logo {
    margin-bottom: 2rem;
  }

  .website-rights {
    margin-bottom: 2rem;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer-link-items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

/* About Me Page */

body {
  background-color: #131313;
}

.about-html-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.about-html-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 0 200px;
}

.about-html-page-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  width: 100%;
  max-width: 100%;
}

.about-html-page h1 {
  font-size: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 1rem;
}

.about-html-page-content {
}

.about-html-page-content p {
  color: rgb(221, 219, 219);
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  max-width: 800px;
}

.about-html-page-img {
  border-radius: 50%;
  border: rgb(255, 145, 0) solid 2px;
  max-width: 600px;
  margin-right: 10px;
}

.about-html-page-btn {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.projects-hyperlink {
  color: #00dbde;
}

@media screen and (max-width: 1300px) {
  .about-html-page-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5rem auto;
  }

  .about-html-page-img-container {
    display: flex;
    justify-content: center;
  }

  .about-html-page-img {
    max-width: 425px;
  }

  .about-html-page-content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .about-html-page-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .about-html-page-content p {
    font-size: 1.5rem;
    max-width: fit-content;
  }
}

@media screen and (max-width: 500px) {
  .about-html-page-img {
    max-width: 250px;
  }

  .about-html-page-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .about-html-page-content p {
    margin-top: 2rem;
  }
}

/* Learning Journal */

.learning-journal-page {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.learning-journal-page h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ee9173 0%, #ff0844 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.learning-journal-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 1300px) {
  .learning-journal-page-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .learning-journal-page-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Learning Journal Page */

.learning-html-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.learning-html-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learning-html-page h1 {
  font-size: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.learningpage-card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #e8e2e9,
    #debbe4,
    #d294df,
    #c56bd8,
    #b639d1
  );
  transition: 0.3s ease-in;
}

.learningpage-card:nth-child(2) {
  background: #1fa2ff;
  background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}

.learningpage-card:nth-child(3) {
  background: #1fa2ff;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.learningpage-card h2 {
  text-align: center;
}

.learningpage-card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.learningpage-card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.learningpage-card button:hover {
  cursor: pointer;
  transform: scale(1.075);
}

.learningpage-card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* Learning HTML Page */

.published-tag {
  color: rgb(221, 219, 219);
  margin-bottom: 1rem;
  text-align: center;
}

.learning-html-page-img {
  max-width: 350px;
  border-radius: 5px;
}

.learning-html-page-img1 {
  max-width: 350px;
  border-radius: 5px;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  margin-top: 20px;
  margin-bottom: 30px;
  image-rendering: high-quality;
}

.learning-html-page-img2 {
  max-width: 300px;
  border-radius: 5px;
}

.learning-html-page-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learning-html-page-img-container p {
  padding-top: 10px;
  text-align: left;
  color: rgb(221, 219, 219);
  max-width: 500px;
  font-weight: 700;
}

.learning-html-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learning-html-page-content1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.learning-html-page-content p {
  color: rgb(221, 219, 219);
  font-size: 500px;
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 800px;
}

.learning-html-page-content span {
  color: #af1536;
}

.learning-html-page-content1 p {
  color: rgb(221, 219, 219);
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 800px;
}

.learning-html-page-img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 5rem;
}

.learning-html-page-img-grid1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learning-html-page-img-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.learning-html-page-img-grid3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.learning-html-page-img-grid1 p {
  max-width: 500px;
  padding-right: 1rem;
}

.learning-html-page-btn {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.paragraph {
  display: none;
}

.learning-html-page-img3 {
  display: none;
}

.learning-html-page-img3 {
  display: none;
}

.learning-html-page-img5 {
  margin-top: 1rem;
  height: 300px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.learning-html-page-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(221, 219, 219);
  font-weight: 700;
  margin-bottom: 2rem;
}

.reference {
  display: flex-start;
  justify-content: flex-start;
  text-align: left;
}

@media screen and (max-width: 1530px) {
  .learning-html-page-img-grid2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 970px) {
  .learning-html-page-img-grid3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1300px) {
  .learning-html-page-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5rem auto;
  }

  .learning-html-page-img-container {
    display: flex;
    justify-content: center;
  }

  .learning-html-page-img-grid1 {
    display: none;
  }

  .learning-html-page-img-grid1 p {
    max-width: 500px;
    padding-right: 1rem;
  }

  .learning-html-page-img {
    max-width: 200px;
    margin: 1rem auto;
  }

  .learning-html-page-img1 {
    max-width: 200px;
  }

  .paragraph {
    display: flex;
  }

  .learning-html-page-img3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .learning-html-page-img4 {
    margin: 1rem auto;
    max-width: 400px;
  }

  .learning-html-page-img5 {
    max-width: 400px;
    margin: 1rem auto;
  }

  .learning-html-page-content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .learning-html-page-content1 {
    text-align: center;
    margin-bottom: 4rem;
  }

  .learning-html-page-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .learning-html-page-content p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
    max-width: fit-content;
  }

  .learning-html-page-content1 p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
    max-width: fit-content;
  }
}

@media screen and (max-width: 850px) {
  .learning-html-page-img-grid2 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .learning-html-page-img-grid {
    display: grid;
    grid-template-columns: 1fr;
    place-self: center;
  }

  .learning-html-page-img-grid3 {
    grid-template-columns: 1fr 1fr;
  }

  .learning-html-page-img {
    max-width: 300px;
  }
  .learning-html-page-img1 {
    max-width: 300px;
  }

  .learning-html-page-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .learning-html-page-content p {
    margin-top: 2rem;
  }

  .learning-html-page-content1 p {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .learning-html-page-img-grid3 {
    grid-template-columns: 1fr;
  }
}
